.app {
  width: 100%;
  min-height: 100vh;
  background: #1e1e1e;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
:root {
  --type-fire: #F08030;
  --type-water: #6890F0;
  --type-grass: #78C850;
  --type-electric: #F8D030;
  --type-ice: #98D8D8;
  --type-fighting: #C03028;
  --type-poison: #A040A0;
  --type-ground: #E0C068;
  --type-flying: #A890F0;
  --type-psychic: #F85888;
  --type-bug: #A8B820;
  --type-rock: #B8A038;
  --type-ghost: #705898;
  --type-dragon: #7038F8;
  --type-dark: #705848;
  --type-steel: #B8B8D0;
  --type-fairy: #EE99AC;

  --type-default: #ccc;
}